 body{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:  1.6em;
    margin:0;
 }

 .container{
    margin: auto;
    overflow: hidden;
 }
.con-1{
    margin: 4em;
}
 #main-header{
    background-color: #f9f9f9;
    color: #612a1d;
    display: flex;
    align-items: end;
 }

 #navbar{
    background-color: #612a1d;
    color: #fff;
 }

 #navbar ul{
    padding: 2;
    list-style: none;
 }

 #navbar li{
    display: inline;
 }

 #navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
 }

 #showcase{
    background-image:url(../images/obliss.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: rgb(46, 14, 14);
    font: size 20px;
    line-height:1.6em;
    padding: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0.30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    margin-top: 90%;
}

#logo {
    width: 100px;
    background-color: #612a1d;
}

@media(max-width: 600px){
#main{width: 100%;
    float: none;
}
#sidebar{
    width: 100%;
    float: none;
}
}

