@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(23, 22, 22);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-image: url('../resources/images/222.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.parent-container {
    color: #19191b;
    height: 100%;
    flex-direction: row;
    justify-content: left;
    display: flex;
    width: 100%;
}

.parent-container .navbar {
    background-color: #f5eff1;
    width: 15%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
}

a {
    text-decoration: none;
    color: gray;
}

.navbar h1 {
    color: black;
    text-align: center;
    font-style: Brush Script MT cursive;
    font-size: 20px;
    padding: 50px;
}

.navbar ul {
    display: block;
    margin: 50px;
    line-height: 40px;
    padding-top: 70px;
}

.navbar ul li {
    color: black;
    margin-left: auto;
    height: 40px;
    list-style-type: none;
    font-weight: 800;
}

.navbar .main-span {
    line-height: 20px;
    padding: 20px;
}

#main-header {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: #0000008f;
    color: #fff;
    align-items: flex-start;
    padding: 35px;
}

#main-header h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}

#main-header p {
    line-height: 1.5rem;
    font-size: large;
    font-weight: lighter;
    margin: 20px 0 20px 0;
}


.logo-text {
    font-family: Croissant One;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
}

.horizontal {
    height: 7px;
    width: 250px;
    background-color: red;
    align-self: flex-start;
}

.parent-container .small-navbar {
    background-color: #f5eff1;
    width: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.small-navbar h1 {
    color: black;
    text-align: center;
    font-style: Brush Script MT cursive;
    font-size: 30px;
    padding: 60px;
}

.small-navbar ul {
    display: block;
    margin: 50px;
    line-height: 40px;
    padding-top: 70px;
}

.small-navbar ul li {
    color: black;
    margin: 0 auto;
    height: 40px;
    list-style-type: none;
}

.small-navbar .main-span {
    line-height: 20px;
    padding: 20px;
}

.head-note ul li a img {
    width: 20px;
}

.head-note ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 5;
}

.parent-container .top-left img {
    width: 25px;
}

a {
    cursor: pointer;
}

.hidden {
    display: none;
}

.small-navbar .head-note .logo-text {
    cursor: pointer;
}